<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Galeries</h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input id="search" type="search" class="form-control" placeholder="{{ 'SEARCH' | translate }}" data-ng-model="search">
        </div>
    </br>
        <div class="input-group">
            <strong>{{ "CHOICE" | translate }}</strong>
            <select data-ng-model="search_categorie">
                <option value="Sciences">Sciences</option>
                <option value="Transport">Transport</option>
                <option value="Art">Art</option>
              </select>
        </div>
     
        <div class="table-responsive">
            <li class="span3 gallery-item" data-id="id-7" data-type="design" data-ng-repeat="todo in IC.todos | filter: search_categorie | filter : search" class="repeat-animation">
               
                    {{$index + 1}}.<a href="#"><img src="{{todo.path}}" height="445px" width="350px" data-ui-sref="root.todos.image.details({imageId: todo.id})" alt="Gallery"></a>
                <span class="project-details"><a href="#"  data-ui-sref="root.todos.image.details({imageId: todo.id})">{{todo.title}}</a></span>
                
            </li>
        </div>
    </div>
</div>





